@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	background: url(/img/container/bg-body.jpg) repeat-x #c6daf0;
	font-family:Arial, Helvetica, sans-serif;
}

/* ------------- Container -----------*/
div.container {
	margin:0px 40px 0px 120px;
	padding:0px 0px 0px 0px;
	min-width:715px;
}
div.container .ro {
	background:url(/img/container/container-ro.jpg) top right no-repeat;
	margin:0;
	padding:0;
}

div.container .lo {
	background:url(/img/container/container-lo.jpg) top left no-repeat;
	margin:0;
	padding:0;
}
div.container  .r{
	background:url(/img/container/container-r.jpg) right repeat-y;
	margin:0px; padding:0px;
}

div.container .l{
	background:url(/img/container/container-l.jpg) left repeat-y;
	margin:0px; padding:0px;
}

/* ------------- LOGO -----------*/
.boxinhalt {
	margin:0px 9px 0px 11px;
	padding:37px 0px 0px 0px;
}
.boxinhalt div.logoumschlag{
		margin:0px 0px 0px 0px;
		padding:0px;
		background:url(/img/logo/logo-l.jpg) repeat-x;
}

.boxinhalt div.logo-l{
	background:url(/img/logo/logo-l-ecke.jpg) no-repeat left;
	 float:left;
	 height:96px; width:6px;


}
.boxinhalt div.logo-r{
	background:url(/img/logo/logo-r-ecke.jpg) no-repeat right;
	float:right;
	height:96px;  width:7px;


}
.boxinhalt div.logo-bild{
	height:96px; width:685px; /*height:96px;*/
	 margin:0px auto;
	 padding:0px 0px 0px 0px; 
}
/* wechselndes Logobild */
body#home .boxinhalt div.logo-bild{background:url(/img/logo/logo-home.jpg) no-repeat 0px 0px;}
body#schule .boxinhalt div.logo-bild{background:url(/img/logo/logo-wissen.jpg) no-repeat 0px 0px;}
body#studium .boxinhalt div.logo-bild{background:url(/img/logo/logo-study.jpg) no-repeat 0px 0px;}
body#tut .boxinhalt div.logo-bild{background:url(/img/logo/logo-tut.jpg) no-repeat 0px 0px;}
body#woerterlexikon .boxinhalt div.logo-bild{background:url(/img/logo/logo-woerterlexikon.jpg) no-repeat 0px 0px;}
body#games .boxinhalt div.logo-bild{background:url(/img/logo/logo-games.jpg) no-repeat 0px 0px;}
body#ulk .boxinhalt div.logo-bild{background:url(/img/logo/logo-ulk.jpg) no-repeat 0px 0px;}
body#maxime .boxinhalt div.logo-bild{background:url(/img/logo/logo-webdesign.jpg) no-repeat 0px 0px;}
body#projekte .boxinhalt div.logo-bild{background:url(/img/logo/logo-webdesign.jpg) no-repeat 0px 0px;}
body#gb .boxinhalt div.logo-bild{background:url(/img/logo/logo-gb.jpg) no-repeat 0px 0px;}
body#kontakt .boxinhalt div.logo-bild{background:url(/img/logo/logo-kontakt.jpg) no-repeat 0px 0px;}
body#galerie .boxinhalt div.logo-bild{background:url(/img/logo/logo-galerie.jpg) no-repeat 0px 0px;}
body#kunst .boxinhalt div.logo-bild{background:url(/img/logo/logo-kunst.jpg) no-repeat 0px 0px;}
body#poesie .boxinhalt div.logo-bild{background:url(/img/logo/logo-poesie.jpg) no-repeat 0px 0px;}
body#person .boxinhalt div.logo-bild{background:url(/img/logo/logo-person.jpg) no-repeat 0px 0px;}

body#tools .boxinhalt div.logo-bild{background:url(/img/logo/logo-tut.jpg) no-repeat 0px 0px;}
/* ----------- NAVIGATION ----------- */
div.navi {
	float:left;
		margin:20px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	background:url(/img/bg-navi2.jpg) no-repeat right top;
	width:138px;
}
div.navi > ul{
	list-style:none;
	width:138px;
		margin:0px 0px 20px 0px;
		padding:0px;
}
div.navi li.h1{
		margin:6px 0px 0px 10px;
		padding:2px 0px 3px 15px;
	color:#3a85bf;
	font-size:11px;
	background:none;
	 background:url(/img/bg-navi-h1.png) 7px bottom no-repeat;
}
div.navi li{
	background:url(/img/bg-navi-underline.png) 22px bottom no-repeat;
}
div.navi li a{
	display:block;
		padding: 5px 5px 5px 0px;
		margin:0px 0px 0px 0px;
	text-align:right;
	color:#083d66;
	font-size:13px;
	background:url(/img/bg-navi-hover.png) 200px 0px repeat-y; /*Hover-Image-Preload*/
	
	-moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
div.navi a:link {color:#083d66; text-decoration:none; }
div.navi a:visited {color:#083d66; text-decoration:none;}
div.navi a:hover {color:#083d66; text-decoration:none; padding-right:7px; background-image:none; background:url(/img/bg-navi-hover.png) 7px 0px repeat-y;
}

body#schule a.schule,
body#studium a.studium,
body#tut a.tut,
body#woerterlexikon a.woerterlexikon,
body#games a.games,
body#ulk a.ulk,
body#maxime a.maxime,
body#projekte a.ref,
body#gb a.gb,
body#kontakt a.kontakt,
body#galerie a.galerie,
body#kunst a.kunst,
body#poesie a.poesie,
body#tools a.tools,
body#person a.person{
	font-style:italic;
	color:#e19a00;background:url(/img/bg-navi-hover.png) 7px 0px repeat-y;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	padding-top: 3px;
}



/* ------------- INHALT ------------- */
div.inhalt {
		margin:0px 10px 0px 150px;
		padding:10px 20px 0px 10px;
	color:#083d66;
	font-size:14px;
	background:url(img/bg-inhalt.png) right;
	border-left:1px solid #FFFFFF;
	overflow:hidden;
	z-index:10;
	min-height:470px;
}

div.inhaltheader{
	background:url(img/inhalt-ro.png) top right no-repeat;
	height:8px;
	margin:-20px 10px 0px 150px;
	padding:0px;
	overflow:hidden;
}

div.inhaltfooter-auslauf{
	background:url(img/inhalt-footer.png) top right no-repeat;
	height:79px;
	margin:0px 10px 0px 150px;
	padding: 0px;
	overflow:hidden;
}

div.inhaltfooter-auslauf div.inhaltfooter-logo{
	margin:0px; padding:0px;
	height:79px;
	background:url(img/inhalt-footer-logo.png) center no-repeat;

}

div.inhaltclearer{
   clear:both;
   margin:0px 0px 0px 0px;
   padding:0px;
}

div.inhalt a:link, div.commentarea a:link {color:#FF9900; text-decoration:none; border-bottom: 1px dotted #FF9900;}
div.inhalt a:visited, div.commentarea a:visited {color:#cf8618; text-decoration:none;border-bottom: 1px dotted #cf8618;}
div.inhalt a:hover, div.commentarea a:hover {color:#FF9900; text-decoration:none;border-bottom: 1px solid #FF9900;}

/* ------------- FOOTER ------------- */
div.footer-r {
		margin:0px 40px 40px 120px;
		padding:0px 0px 0px 0px;
	color:#004b61;
	font-size:12px;
	text-align:center;
		height:40px;
	background:url(img/container/container-ru.jpg) right top no-repeat;
	min-width:715px;
}
div.footer-r div.footer-l{
	height:40px;
		padding:25px 0px 0px 0px;
		margin:0px;
	background:url(img/container/container-lu.jpg) left top no-repeat;
}
div.footer-r a:link {color:#006481; text-decoration:none; border-bottom: 1px dotted #006481;}
div.footer-r a:visited {color:#006481; text-decoration:none;border-bottom: 1px dotted #006481;}
div.footer-r a:hover {color:#006481; text-decoration:none;border-bottom: 1px solid #006481;}

/* ------------- Werbung ------------- */
div.anzeig-navi{
	margin: 30px 0px 0px 30px;
	padding:0px;
}

div.anzeig-skyscraper{
	position:fixed;
	left:0px;
	top:140px;
}
div.ads{
	font-size:9px;
	color:#2c6ea2;
	margin: 15px 0px 0px 10px;
	padding:0px;
	text-align:center;
}
div.suche-oben{
	position:absolute;
	top:130px;
	right:5%;
	margin:0px 40px 0px 0px;
	padding:0px;
	z-index:30;
}

div.suche-unten{
	margin: 0px 0px 0px 160px;
	padding:0px;
	text-align:center;
	 height:20px;
	 position:relative;
	 bottom:5px;
	
}