/* --------------------Ueberschriften --------------------*/
div.inhalt h1,
div.inhalt h2,
div.inhalt h3,
div.inhalt h4{
	clear:both;
	font-family:Georgia, "Times New Roman", Times, serif;
}
div.inhalt h1{
	font-size:22px;
	border-bottom:1px solid #759fb7;
	border-left:1px dotted #759fb7;
	font-weight:normal;
	color:#e19a00;
	background:url(/img/bg-h1.png) repeat-y;
		padding: 3px 0px 3px 5px;
		margin: 30px 0px 10px 0px;
}
div.inhalt h1:nth-of-type(1) + p,/* Achtung, dass beim dynamischen Einfügen von Werbung nach Header, dass p-Tag nicht mehr direkt nach h1 steht ... alternative: h1:nth-of-type ~ p:nth-of-type(1)*/
div.inhalt span.h1-sub{
	font-size:11px;
}
div.inhalt h2,
div.inhalt h3,
div.inhalt h4{
	padding: 10px 20px 0px 5px;
	margin: 20px 0px 10px 0px;
}
div.inhalt h2{
	font-size:21px;
	border-bottom:1px solid #759fb7;
	font-weight:normal;
	color:#083d66;
	background:url(/img/bg-h2.png)  bottom repeat-x;
}
div.inhalt h3{
	font-size:19px;
	border-bottom:1px solid #759fb7;
	font-weight:normal;
	color:#083d66;
}
div.inhalt h4{
	font-size:16px;
}
/* -------------------- Listen --------------------*/
div.inhalt  ul {
	display:table;/* Für Listen neben gefloateten Objekten (Bilder etc.)*/
	height:1%;
	margin:0px 0px 0px 0px;
}
div.inhalt ul li{
   list-style: none;
   background: url(/img/list-bullet.gif) no-repeat 0px 8px;
   padding:3px 3px 3px 22px;
}
div.inhalt ul ul li{
   list-style: none;
   background: url(/img/list-bullet2.gif) no-repeat 0px 8px;
   padding:3px 3px 3px 22px;
}
/* -------------------- Listen&Tabelle --------------------*/
div.inhalt table ul {
   margin:0px 0px 0px 0px;
   padding:0px;
}
div.inhalt table ul li{
   list-style: none;
   background: url(/img/list-bullet.gif) no-repeat 0px 8px;
   padding:3px 3px 3px 23px;
   margin:0px;
}
div.inhalt table ul ul li{
   list-style: none;
   background: url(/img/list-bullet2.gif) no-repeat 0px 8px;
   padding:3px 3px 3px 23px;
}

/* --------------------Tabellen --------------------*/
table {
	border:1px solid #759fb7;
	border-collapse:separate;
	border-spacing:1px;
	margin:5px 0px 15px 0px;
}
table tr{
	margin:0px;
}
td {
	padding:4px;
	font-size:13px;
	border-bottom:1px solid #c6e1f0;
	vertical-align:top;
}
th {
	background:#e5f1f8;
	text-align:left;
	color:#2c6ea2;
	padding:5px;
	vertical-align:top;
	border-bottom:1px solid #759fb7;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
table.exkurs {
	border:2px solid #759fb7;
}
table.exkurs td{
	background:#e5f1f8;
}
table.exkurs th{
	background:#c8dde9;
}

div.inhalt table.bildnachweis td,div.inhalt table.bildnachweis th{
	font-size:10px;	
}

/* --------------------Bilder --------------------*/
div.inhalt img {
	border:1px solid #759fb7;
	margin:5px 5px 5px 10px;
}
div.inhalt img.bild-im-text {
	margin:0px;padding:0px;
}
div.inhalt a img {
	border:1px solid #759fb7;
	/*margin:0px 0px 0px 0px;*/
}
div.inhalt a:hover img {
	border:1px solid #ff8400;
	/*margin:0px 0px 0px 0px;*/
}
div.inhalt .left{
	float:left;
}
div.inhalt .right{
	float:right;
}
div.inhalt p.left, div.inhalt p.right{
	margin: 0px 5px 5px 5px;
	font-size:10px;
	color:#2c6ea2;
	padding: 5px;
}
div.inhalt p.left img, div.inhalt p.right img{
	margin: 3px 0px 0px 0px;
}

div.inhalt .clear{
	clear:both;	
}


/* --------------------Zitate/Definitionen/Code --------------------*/
blockquote {
	font-style:italic;
	background: url(/img/bg-blockquote.jpg) no-repeat #fff;
	border-left:3px solid #006481;
	border-bottom:1px dotted #006481;
	padding: 10px;
	text-indent:30px;
	clear:both;
}
dfn,p.dfn {
	background: url(/img/bg-h1.png) left repeat-y #e9f2f8;
	border:1px solid #006481;
	border-left:3px solid #006481;
	
	padding: 10px;
	margin-left: 30px;
	display:block;
	font-style:normal;
}
code {
	font-family:"Courier New", Courier, monospace;
	background: url(/img/bg-h1.png) left repeat-y #e9f2f8;
	border:1px solid #006481;
	border-left:3px solid #006481;
	
	padding: 10px;
	margin-left: 30px;
	display:block;
	overflow-y: hidden;
	overflow-x: scroll;
	font-style:normal;
	/*font-weight:bold;*/
	color:#000000;
}
table code{
	margin: 0px;
}
span.lila{color:#ff00ff;}
span.blau{color:#0000ff;}
span.rot{color:#FF0000;}
span.gruen{color:#006600;}
span.braun{color:#996600;}
span.gruen2{color:#008080;}
span.grau{color:#666666;}
table td.code{
	font-family:"Courier New", Courier, monospace;
	font-size:13px;
}
code.sql{
	color:#333333;
	background:#f8f8f8;
	font-weight:normal;
}
samp {
	font-family:"Courier New", Courier, monospace;
	background: #d6e5f0;
	border-left:1px solid #006481;
	
	padding: 10px;
	margin-left: 30px;
	display:block;
	font-style:italic;
	color:#000000;
	clear:both;
}
table samp {
	margin: 0px;
}

.courier {font-family:"Courier New", Courier, monospace;}

/* --------------------Sonstiges -------------------*/
div.inhalt .kl-text{
	font-size:11px;
}
div.inhalt ul.quellen{
	font-size:11px;
}
ul.hid li{
	display:none;
}

.caption{
	font-size:10px;
	color:#2c6ea2;
	margin-left:10px;
}
p.caption img{
	margin:0px;
}

q{
	font-style:italic;
	background:#cae2f1;
	font-family:"Courier New", Courier, monospace;
}
/* asym. Verschluesselung */
strong.gelb{
	color:#cece18;
}
strong.blau{
	color:#6a9c9c;	
}
/* --------------------Galerie -------------------*/
body#galerie div.inhalt table td{
	text-align:center;
	vertical-align:middle;
}
body#galerie div.inhalt p.kl-text{
	font-size:11px;
}

/* --------------------Wörterlexikon -------------------*/
body#woerterlexikon div.inhalt table th{
	text-align:center;
	font-size:22px;
	background:url(/img/bg-h2.png)  bottom repeat-x;
}

/* --------------------Home -------------------*/
body#home blockquote {font-size:16px; margin-left:20px;}
body#home div.inhalt ul{padding:0px;}

/* --------- JavaCode4Web -------- */
code.spoiled span.keyword {color: #7f0055; font-weight:bold;}
code.spoiled span.comment-javadoc {color:#3f5fbf;}
code.spoiled span.comment-multi{color:#3f7f5f;}
code.spoiled span.stringliteral, span.charliteral {color:#00f;}
code.spoiled span.comment-single {color:#3f7f5f;}
code.spoiled span.javadoc-tag {font-weight:bold; color:#7f9fbf;}
/*code.spoiled span.spoiled {display:block;}*/
code.spoiled {
	white-space:nowrap;	
}


/* --------- Formulare. Buttons etc. ------ */
input[type="text"]{
	border:1px solid #759fb7;
	border-right:1px solid #537a90;
	border-bottom:1px solid #537a90; 
  width:140px;
}
input[type="submit"],input[type="button"]{
	background:url(/img/bg-suchbutton.jpg)  bottom repeat-x;
		border:1px solid #759fb7;
		border-right:1px solid #537a90;
		border-bottom:1px solid #537a90; 
  color:#083d66;
	  margin:2px 0px 0px 0px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:13px;
  cursor: pointer;
  
	-moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
	
	-moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
	
    -webkit-box-shadow: rgba(255, 255, 255, .5) 0 1px 0 inset,
                        rgba(255, 255, 255, .6) 0 25px 30px -12px inset,
                        rgba(0, 0, 0, .6) 0 1px 2px;
    -moz-box-shadow: rgba(255, 255, 255, .5) 0 1px 0 inset,
                     rgba(255, 255, 255, .6) 0 25px 30px -12px inset,
                     rgba(0, 0, 0, .6) 0 1px 2px;
    box-shadow: rgba(255, 255, 255, .5) 0 1px 0 inset,
                rgba(255, 255, 255, .6) 0 25px 30px -12px inset,
                rgba(0, 0, 0, .6) 0 1px 2px;
}
input[type="submit"]:disabled, input[type="button"]:disabled{
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor:default;
}
input[type="submit"]:hover, input[type="button"]:hover{
	color:#F60;
	border:1px solid #F60;
}
input[type="submit"][disabled]:hover, input[type="button"][disabled]:hover{
	color:#083d66;	
	border:1px solid #759fb7;
	border-right:1px solid #537a90;
	border-bottom:1px solid #537a90; 
}

/* --------- Design Pattern Katalog -----*/
div.dpindex{
	border-top:1px solid #759fb7;
	border-bottom:1px solid #759fb7;
	font-size:11px;
	text-align:center;
	margin:20px 0px 20px 0px;
}

/* --------- Interaktiv: Commentskript -----*/
div.commentarea {
	margin: 10px 30px 40px 170px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#083d66;
}
div.commentarea h6{
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	border-bottom:1px solid #759fb7;
	font-weight:normal;
	color:#083d66;
	margin: 0px;
}
div.commentarea form{
	margin: 10px 15px 10px 15px;
}
div.commentarea form table{
	width:100%;
}
div.commentarea div.beitrag{
	border: 1px solid #759fb7;
	margin: 10px 15px 10px 15px;
}
div.commentarea div.head       { 
	margin: 0px; 
	padding: 3px 10px 3px 10px; 
	border-bottom: 1px solid #fff;
	background:url(/img/bg-h2.png)  bottom repeat-x;
}
div.commentarea div.entry{
	 margin: 0px;
	 padding: 10px; 
	 background:url(/img/bg-gbcontent.png) repeat-x 0px -35px;
}
div.commentarea span.author{
	 font-weight:bold;
}
div.commentarea span.date{
	 color:#759fb7;
}
div.commentarea textarea{
	width:100%;
}
/* --------- Interaktiv: Gästebuch -----*/
body#gb img {border:none;}

div.gb              { margin: 0px 0px 20px 0px; padding: 0px; border: 1px solid #759fb7; line-height: 19px;}
div.gb-author       { margin: 0px; padding: 1px 10px 1px 10px; border-bottom: 1px solid #fff; background:url(/img/bg-h2.png)  bottom repeat-x;
}
p.gb-author-left    { margin: 0px; float: left; }
p.gb-author-right   { margin: 0px; text-align: right; font-size:10px; }
div.gb-entry        { margin: 0px; padding: 10px;  background:url(/img/bg-gbcontent.png) repeat-x;}
span.gb-browse      { text-align: right; font-weight: bold; font-size:11pt;}
p.gb-admin-buttons  { margin: 5px 0px 0px 0px; text-align: right; }
.caution            { color: red; font-weight: bold; }
.small              { font-size: 11px; line-height:16px; }
.comment            { margin: 10px 0px 0px 0px; color: #808080; font-style: italic; }
img                 { border: 0px; }
.smilies 			{font-weight:bolder; color:#990000;font-size: 11px; line-height:16px;}