@charset "UTF-8";
/* CSS Document 
div.navi{
	display:none;
}

div.anzeig-navi{
	display:none;
}

div.anzeig-skyscraper{
	display:none;
}
div.ads{
	display:none;
}
div.suche-oben{
	display:none;
}
div.suche-unten{
	display:none;
}

body#studium .boxinhalt div.logo-bild{
	/*background:none;
	/*
}



div.footer-l, div.footer-l a:link, div.footer-l a:visited {
	color:#c6daf0;
	border-bottom:none;
}
/*
div.inhalt {
	margin:0px 0px 0px 15px;
}
div.inhalt, div.inhalt table td, div.inhalt table th{
	font-size:15px;
}

div.inhaltheader{
	margin:-20px 0px 0px 15px;
}

div.container {
	margin:0px 60px 0px 120px;
		min-width:770px;
}
div.footer-r {
	margin:0px 60px 40px 120px;
		min-width:770px;
}*/
hr {
	color:#8797a6;	
}
/*wichtig:*/
div.inhalt img, div.inhalt a img, div.inhalt a:hover img{
	display:block;
	margin: 3px auto;
}
div.inhalt img.left, 
div.inhalt img.right, 
div.inhalt img.left:hover, 
div.inhalt img.right:hover{
	margin:3px 5px 3px 10px;
}

p.caption{
	text-align:center;	
	margin:-15px 0px 0px 0px;
}

div.inhalt  ul {
	display:block;/* vorher display: Für Listen neben gefloateten Objekten (Bilder etc.)*/
}

body#studium .boxinhalt div.logo-bild{background:url(/study/se/design-pattern/indexpics/logo.jpg) no-repeat 0px 0px;}

div.commentarea{
	margin-bottom: 0px;
}


